In [18]:
import pandas as pd
from datetime import datetime as dt
from scipy import stats
import os

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
df.date = pd.to_datetime(df.date, infer_datetime_format=True)

In [21]:
df = df.set_index(df['date'])

df = df.drop(columns='date')
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [22]:
jun_data = df[df.index.month == 6]
dec_data = df[df.index.month ==12]

In [25]:
dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [24]:
jun_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [26]:
Dec_Temp = dec_data.tobs

In [28]:
June_Temp = jun_data.tobs

In [29]:
stats.ttest_ind(June_Temp, Dec_Temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [30]:
#From 2010 - 2017 the temperatures in June and December have a 3.9 degree difference.
#The p-value is statistically significant